<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sniper.game.wordgame.mapper.GameResourceMapper">

    <insert id="insert" parameterType="com.sniper.game.wordgame.entity.GameResource"
            useGeneratedKeys="true" keyProperty="id">
        insert into game_resource (name, url, type)
        values (#{name}, #{url}, #{type})
    </insert>
</mapper>
